<div class="container">
  <div class="row">
    <div class="col-4">
    </div>
    <div class="col-4">
      <div class="card">
      <article class="card-body">
        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "Sign up", new_registration_path(resource_name), class: "float-right btn btn-outline-primary" %><br />
        <% end %>
        <h4 class="card-title mb-4 mt-1">註冊</h4>
              <!-- <p> -->
              <!--   <a href="#" class="btn btn&#45;block btn&#45;outline&#45;info"> <i class="fab fa&#45;twitter"></i>   Login via Twitter</a> -->
              <!--   <a href="#" class="btn btn&#45;block btn&#45;outline&#45;primary"> <i class="fab fa&#45;facebook&#45;f"></i>   Login via facebook</a> -->
              <!-- </p> -->
              <!-- <hr> -->
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-group">
          <%= f.text_field :user_name, autofocus: true, autocomplete: "user-name", placeholder: "暱稱", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.text_area :bio, autofocus: true, autocomplete: "bio", placeholder: "Fantasy自介", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %>
        </div>

        <div class="form-group">
          <% if @minimum_password_length %>
          <em>(密碼長度最少<%= @minimum_password_length %>位)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "輸入密碼", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "確認密碼", class: "form-control" %>
        </div>
        <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                    <%= f.submit "註冊", class: "btn btn-primary btn-block" %>
              </div> <!-- form-group// -->
          </div>
          <div class="col-md-6 text-right">
            <%= link_to "登入", new_session_path(resource_name) %><br />
          </div>
        </div> <!-- .row// -->
      <% end %>
      </article>
      </div> <!-- card.// -->
    </div>
    <div class="col-4">
    </div>
  </div>
</div>
