<%= form_tag(conditions_players_path, method: "post") do %>
  <%= check_box_tag("conditions[]", "points", @value_item.include?("points") ) %>
  <%= label_tag("points", "得分") %>
  <%= check_box_tag("conditions[]", "three_point", @value_item.include?("three_point") ) %>
  <%= label_tag("three_point", "三分") %>
  <%= check_box_tag("conditions[]", "assists", @value_item.include?("assists") ) %>
  <%= label_tag("assists", "助攻") %>
  <%= check_box_tag("conditions[]", "steals", @value_item.include?("steals") ) %>
  <%= label_tag("steals", "抄截") %>
  <%= check_box_tag("conditions[]", "blocks", @value_item.include?("blocks") ) %>
  <%= label_tag("blocks", "火鍋") %>
  <%= check_box_tag("conditions[]", "field_goal", @value_item.include?("field_goal") ) %>
  <%= label_tag("field_goal", "命中率") %>
  <%= check_box_tag("conditions[]", "free_throw", @value_item.include?("free_throw") ) %>
  <%= label_tag("free_throw", "罰球率") %>
  <%= check_box_tag("conditions[]", "off_reb", @value_item.include?("off_reb") ) %>
  <%= label_tag("off_reb", "進攻籃板") %>
  <%= check_box_tag("conditions[]", "def_reb", @value_item.include?("def_reb") ) %>
  <%= label_tag("def_reb", "防守籃板") %>
  <%= check_box_tag("conditions[]", "turnovers", @value_item.include?("turnovers") ) %>
  <%= label_tag("turnovers", "失誤") %>
  <%= check_box_tag("conditions[]", "p_fouls", @value_item.include?("p_fouls") ) %>
  <%= label_tag("p_fouls", "犯規") %>
  <%= select_tag("time[]", options_for_select([["過去7場","game_for_7"], ["過去14場","game_for_14"]])) %>
  <%= submit_tag "確定" %>
<% end %>
<main role="main" class="container">
  <div class="col custom-table-width">
    <table class="table table-hover table-sm">
      <thead class="thead-dark">
        <tr class="pd-1">
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Team</th>
          <th scope="col">Pos</th>
          <th scope="col">g</th>
          <th scope="col">m/g</th>
          <th scope="col">pV</th>
          <th scope="col">3V</th>
          <th scope="col">aV</th>
          <th scope="col">sV</th>
          <th scope="col">bV</th>
          <th scope="col">fg%V</th>
          <th scope="col">ft%V</th>
          <th scope="col">orV</th>
          <th scope="col">drV</th>
          <th scope="col">pfV</th>
          <th scope="col">toV</th>
          <th scope="col">p/g</th>
          <th scope="col">3/g</th>
          <th scope="col">a/g</th>
          <th scope="col">s/g</th>
          <th scope="col">b/g</th>
          <th scope="col">fg%</th>
          <th scope="col">ft%</th>
          <th scope="col">or/g</th>
          <th scope="col">dr/g</th>
          <th scope="col">pf/g</th>
          <th scope="col">to/g</th>
          <th scope="col">v</th>
        </tr>
      </thead>
      <tbody>
        <% @players.sort_by{|p| p["rank_value"]}.reverse.take(350).each.with_index do |player, index| %>
          <tr class="pd-1">
            <th scope="row"><%= index + 1  %></th>
            <td><%= link_to player["name"], player_path(player["player_id"]) %></td>
            <td><%= player["tricode"] %></td>
            <td><%= player["pos"] %></td>
            <td><%= player["g"] %></td>
            <td><%= Time.parse(player["min"]).min %>:<%= Time.parse(player["min"]).sec %></td>
            <td class="pa-value"><%= player["points_value"] %></td>
            <td class="pa-value"><%= player["three_point_value"] %></td>
            <td class="pa-value"><%= player["assists_value"] %></td>
            <td class="pa-value"><%= player["steals_value"] %></td>
            <td class="pa-value"><%= player["blocks_value"] %></td>
            <td class="pa-value"><%= player["field_goal_value"] %></td>
            <td class="pa-value"><%= player["free_throw_value"] %></td>
            <td class="pa-value"><%= player["off_reb_value"] %></td>
            <td class="pa-value"><%= player["def_reb_value"] %></td>
            <td class="pa-value"><%= player["p_fouls_value"] %></td>
            <td class="pa-value"><%= player["turnovers_value"] %></td>
            <td><%= player["points_per_game"].to_f.round(1) %></td>
            <td><%= player["tpm"].to_f.round(1) %></td>
            <td><%= player["assists_per_game"].to_f.round(1) %></td>
            <td><%= player["steals_per_game"].to_f.round(1) %></td>
            <td><%= player["blocks_per_game"].to_f.round(1) %></td>
            <td><%= player["fgp"].to_f.round(2) %></td>
            <td><%= player["ftp"].to_f.round(2) %></td>
            <td><%= player["off_reb_per_game"].to_f.round(1) %></td>
            <td><%= player["def_reb_per_game"].to_f.round(1) %></td>
            <td><%= player["p_fouls_per_game"].to_f.round(1) %></td>
            <td><%= player["turnovers_per_game"].to_f.round(1) %></td>
            <td><%= player["rank_value"].round(2) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</main>


