<main role="main" class="container">
  <div class="col custom-table-width">
    <table class="table table-hover table-sm">
      <thead>
        <tr class="pd-1">
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Team</th>
          <th scope="col">Pos</th>
          <th scope="col">g</th>
          <th scope="col">m/g</th>
          <th scope="col">p/g</th>
          <th scope="col">3/g</th>
          <th scope="col">a/g</th>
          <th scope="col">s/g</th>
          <th scope="col">b/g</th>
          <th scope="col">fg%</th>
          <th scope="col">ft%</th>
          <th scope="col">or/g</th>
          <th scope="col">dr/g</th>
          <th scope="col">pf/g</th>
          <th scope="col">to/g</th>
          <th scope="col">pV</th>
          <th scope="col">3V</th>
          <th scope="col">aV</th>
          <th scope="col">sV</th>
          <th scope="col">bV</th>
          <th scope="col">fg%V</th>
          <th scope="col">ft%V</th>
          <th scope="col">orV</th>
          <th scope="col">drV</th>
          <th scope="col">pfV</th>
          <th scope="col">toV</th>
          <th scope="col">rank</th>
        </tr>
      </thead>
      <tbody>
        <% @players.take(150).to_a.sort_by{|p| p.rank_value}.reverse.each.with_index do |player, index| %>
          <tr class="pd-1">
            <th scope="row"><%= index + 1  %></th>
            <td><%= player.name %></td>
            <td><%= player.team.tricode %></td>
            <td><%= player.pos %></td>
            <td><%= player.stat.games_played %></td>
            <td><%= player.stat.min_per_game %></td>
            <td><%= player.stat.points_per_game %></td>
            <td><%= player.stat.three_per_game %></td>
            <td><%= player.stat.assists_per_game %></td>
            <td><%= player.stat.steals_per_game %></td>
            <td><%= player.stat.blocks_per_game %></td>
            <td><%= player.stat.field_goal_percentage %></td>
            <td><%= player.stat.free_throw_percentage %></td>
            <td><%= player.stat.off_reb_per_game %></td>
            <td><%= player.stat.def_reb_per_game %></td>
            <td><%= player.stat.p_fouls_per_game %></td>
            <td><%= player.stat.turnovers_per_game %></td>
            <td><%= player.value.points_value %></td>
            <td><%= player.value.three_point_value %></td>
            <td><%= player.value.assists_value %></td>
            <td><%= player.value.steals_value %></td>
            <td><%= player.value.blocks_value %></td>
            <td><%= player.value.field_goal_value %></td>
            <td><%= player.value.free_throw_value %></td>
            <td><%= player.value.off_reb_value %></td>
            <td><%= player.value.def_reb_value %></td>
            <td><%= player.value.turnovers_value %></td>
            <td><%= player.value.p_fouls_value %></td>
            <td><%= player.rank_value.round(2)  %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</main>


