<% content_for :head do %>
  <%= javascript_pack_tag 'player' %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h3 class="mb-3"><%= @player[0]["name"] %></h3>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row">
    <div class="col-sm">球隊:<%= @player[0]["tricode"] %></div>
    <div class="col-sm">位置:<%= @player[0]["pos"] %></div>
  </div>
  <div id="player_app">
  </div>
</div>
<!-- <main role="main" class="container"> -->
<!--   <div class="col custom&#45;table&#45;width"> -->
<!--     <table class="table table&#45;hover table&#45;sm"> -->
<!--       <thead class="thead&#45;dark"> -->
<!--         <tr class="pd&#45;1"> -->
<!--           <th scope="col">#</th> -->
<!--           <th scope="col">g</th> -->
<!--           <th scope="col">m/g</th> -->
<!--           <th scope="col">pV</th> -->
<!--           <th scope="col">3V</th> -->
<!--           <th scope="col">aV</th> -->
<!--           <th scope="col">sV</th> -->
<!--           <th scope="col">bV</th> -->
<!--           <th scope="col">fg%V</th> -->
<!--           <th scope="col">ft%V</th> -->
<!--           <th scope="col">orV</th> -->
<!--           <th scope="col">drV</th> -->
<!--           <th scope="col">pfV</th> -->
<!--           <th scope="col">toV</th> -->
<!--           <th scope="col">p/g</th> -->
<!--           <th scope="col">3/g</th> -->
<!--           <th scope="col">a/g</th> -->
<!--           <th scope="col">s/g</th> -->
<!--           <th scope="col">b/g</th> -->
<!--           <th scope="col">fg%</th> -->
<!--           <th scope="col">ft%</th> -->
<!--           <th scope="col">or/g</th> -->
<!--           <th scope="col">dr/g</th> -->
<!--           <th scope="col">pf/g</th> -->
<!--           <th scope="col">to/g</th> -->
<!--           <th scope="col">v</th> -->
<!--         </tr> -->
<!--       </thead> -->
<!--       <tbody> -->
<!--         <% @player.each do |player| %> -->
<!--           <tr class="pd&#45;1"> -->
<!--             <th scope="row"><%=  1  %></th> -->
<!--             <td><%= player["g"] %></td> -->
<!--             <td><%= Time.parse(player["min"]).min %>:<%= Time.parse(player["min"]).sec %></td> -->
<!--             <td class="pa&#45;value"><%= player["points_value"].to_f.round(1) %></td> -->
<!--             <td class="pa&#45;value"><%= player["three_point_value"].to_f.round(1) %></td> -->
<!--             <td class="pa&#45;value"><%= player["assists_value"].to_f.round(1) %></td> -->
<!--             <td class="pa&#45;value"><%= player["steals_value"].to_f.round(1) %></td> -->
<!--             <td class="pa&#45;value"><%= player["blocks_value"].to_f.round(1) %></td> -->
<!--             <td class="pa&#45;value"><%= player["field_goal_value"].to_f.round(1) %></td> -->
<!--             <td class="pa&#45;value"><%= player["free_throw_value"].to_f.round(1) %></td> -->
<!--             <td class="pa&#45;value"><%= player["off_reb_value"].to_f.round(1) %></td> -->
<!--             <td class="pa&#45;value"><%= player["def_reb_value"].to_f.round(1) %></td> -->
<!--             <td class="pa&#45;value"><%= player["p_fouls_value"].to_f.round(1) %></td> -->
<!--             <td class="pa&#45;value"><%= player["turnovers_value"].to_f.round(1) %></td> -->
<!--             <td><%= player["points_per_game"].to_f.round(1) %></td> -->
<!--             <td><%= player["tpm"].to_f.round(1) %></td> -->
<!--             <td><%= player["assists_per_game"].to_f.round(1) %></td> -->
<!--             <td><%= player["steals_per_game"].to_f.round(1) %></td> -->
<!--             <td><%= player["blocks_per_game"].to_f.round(1) %></td> -->
<!--             <td><%= player["fgp"].to_f.round(2) %></td> -->
<!--             <td><%= player["ftp"].to_f.round(2) %></td> -->
<!--             <td><%= player["off_reb_per_game"].to_f.round(1) %></td> -->
<!--             <td><%= player["def_reb_per_game"].to_f.round(1) %></td> -->
<!--             <td><%= player["p_fouls_per_game"].to_f.round(1) %></td> -->
<!--             <td><%= player["turnovers_per_game"].to_f.round(1) %></td> -->
<!--             <td><%= player["rank_value"].round(2) %></td> -->
<!--           </tr> -->
<!--         <% end %> -->
<!--       </tbody> -->
<!--     </table> -->
<!--   </div> -->
<!-- </main> -->
