  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <%= link_to "Super Ocho", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">分析工具</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <%= link_to "Rank排名", root_path, class: "dropdown-item" %>
              <%= link_to "球員比較", "#", class: "dropdown-item" %>
              <%= link_to "賽程分析", teams_schedule_path, class: "dropdown-item" %>
            </div>
          </li>
          <li class="nav-item">
            <%= link_to "討論區", posts_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "關於我們", pages_about_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "我的聯盟", leagues_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.facebook.com/%E5%8F%B0%E7%81%A3Fantasy%E5%A4%A7%E8%81%AF%E7%9B%9F-106004520979736/" target="_blank" >Facebook</a>
          </li>
          <% if user_signed_in?  %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.user_name %></a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <%= link_to "設定", edit_user_registration_path, class: "dropdown-item" %>
                <%= link_to "登出", destroy_user_session_path, method: "delete", class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li>
              <%= link_to "登入/註冊", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
      <%= form_tag search_path, :method => "get", class: "form-inline mt-2 mt-md-0" do %>
        <%= search_field_tag :search, params[:api_person_id], placeholder: "search...", class: "form-control mr-sm-2" %>
        <%= button_tag "Search", class: "btn btn-outline-success my-2 my-sm-0" %>
      <% end %>
    </div>
  </nav>
